.main-navigation__posts {
  display: flex;
  margin: 2em;
  flex-direction: column;
  position: relative;
  top: 100px;
  color: white;
  background-color: #4f4747;
  border-radius: 10px;
  border: 1px solid black;
}

.main-navigation__post {
  display: flex;
}

.main-navigation__images {
  width: 8%;
  cursor: pointer;
  border-radius: 50%;
}

.main-navigation__title {
  display: flex;
    justify-content: center;
    align-items: center;
  color: white;
  width: 58px;
  height: 58px;
}

.main-navigation__title a {
  text-decoration: none;
  color: white;
}

.main-navigation__header-nav {
  display: none;
}

.time {
  display: inline;
}